.main-container {
    display: flex;
    justify-content: center
}

.container-of-calculator {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    width: 375px;
    height: 667px;
    background: linear-gradient(153.43deg, #FFC200 16.67%, #FF9000 53.14%, #FF006A 100%);
    box-shadow: 0px 30px 40px 0px #00000032
}

.container-of-calculator__calculator-button {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    font-family: Actor;
    border: none;
    color: #FFFFFF
}

.container-of-calculator__calculator-button_size-color {
    width: 90px;
    height: 90px;
    background: #FFFFFF33
}

.container-of-calculator__lower-container-of-calculator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 375px;
    height: 96px;
    order: 3
}

.container-of-calculator__calculator-button-zero_size-color_value {
    width: 183px;
    height: 90px;
    background: #FFFFFF33
}

.container-of-calculator__calculator-button-zero {
    padding-left: 38px;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    right: 50px;
    border: none;
    font-family: Actor;
    color: #FFFFFF
}

.container-of-calculator__medium-conteiner-of-calculator {
    display: flex;
    height: 375px;
    width: 375px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    order: 2
}

.container-of-calculator__calculator-button_position-clear {
    order: 1
}


.container-of-calculator__calculator-button_position-multiply {
    order: 8
}

.container-of-calculator__calculator-button_position-one {
    order: 13
}

.container-of-calculator__calculator-button_position-two {
    order: 14
}

.container-of-calculator__calculator-button_position-three {
    order: 15
}

.container-of-calculator__calculator-button_position-four {
    order: 9
}

.container-of-calculator__calculator-button_position-five {
    order: 10
}

.container-of-calculator__calculator-button_position-six {
    order: 11
}

.container-of-calculator__calculator-button_position-seven {
    order: 5
}

.container-of-calculator__calculator-button_position-eight {
    order: 6
}

.container-of-calculator__calculator-button_position-nine {
    order: 7
}

.container-of-calculator__calculator-button_position-plus {
    order: 16
}

.container-of-calculator__calculator-button_position-minus {
    order: 12
}

.container-of-calculator__calculator-button_position-plus-minus {
    order: 2
}

.container-of-calculator__calculator-button_position-procent {
    order: 3
}

.container-of-calculator__calculator-button_position-divide {
    order: 4
}

.container-of-calculator__upper-conteiner-of-calculator {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    height: 202px;
    width: 375px;
    order: 1
}

.container-of-calculator__upper-conteiner-of-calculator_input-result {
    width: 251px;
    height: 96px;
    font-size: 80px;
    margin-right: 12px;
    margin-bottom: 12px;
    border: none;
    color: #FFFFFF;
    font-family: Actor;
    text-align: right;
    background: transparent;
    outline: none
}

::placeholder {
    font-family: Actor;
    font-size: 78px;
    font-weight: 400;
    line-height: 96.24px;
    letter-spacing: normal;
    text-align: right;
    color: #FFFFFF
}